<html>
  <head>
    <title>WorldView Demo Tool</title>
<link rel="stylesheet" href="<%= r %>/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="<%= r %>/css/summary.css">
    <style type="text/css">

      .chart text {
	  fill: black;
	  font: 10px sans-serif;
	  text-anchor: start;
      }


      .bar10 { fill: #dff0d8; }
      .bar20 { fill: #fcf8e3; }
      .bar30 { fill: #f2dede; }
    </style>
    <script type="text/javascript" src="<%= r %>/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head><body>
<!--<img src="http://globaldataconsortium.com/worldview/wp-content/uploads/2013/01/Worldview-Logo-v3.1small200px.png" alt="logo">-->
<div class="container">
<div class="row">
    <div class="col-xs-6 summary-jumbotron">
        <img src="<%= r %>/img/logo-big.png">
    </div>
    <div class="col-xs-6 text-center">
        <h3>19 W Hargett Street Suite 809</h3>
        <h3>Raleigh, NC 27607</h3>
        <h3>Phone: 1-888-949-4389 x202</h3>
        <h3>Email: sales@globaldataconsortium.com</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Results</h1>
    </div>
</div>
</div>
<%= params[:summary] %>,

<div class="footer-wrapper">
				
		<!-- Get Footer Widget -->
					<div class="container">
				<div style="background-image:url('http://globaldataconsortium.com/worldview/wp-content/uploads/2013/01/footerbg4.jpg'); width: 1024px; height: 335px;margin-left: -30px;">
					 
						<div style="padding-top: 87px; padding-left: 635px;">
							<a href="http://globaldataconsortium.com/worldview/contact-us/"><img src="http://globaldataconsortium.com/worldview/wp-content/uploads/2013/01/getstartedbluebtn.png"></a>
						</div>
						
				
					<div style="margin-top: 115px; width: 350px; bottom: 0px; float: left; ">
					
					
					</div>
				</div>
				
		
	</div><!-- footer-wrapper -->
</body></html>
